extends default 

//- block header
//-     header
//-         h1 #{title}

block content
    div.unlockform
        form(method="post") 
            input.textbox(type="password", name="password")
            input.inputbuttonprimary(type="submit", value="Unlock")